<!-- ======== footer start ======== -->
<footer class="footer">
  <?
	timeout, cancel := context.WithTimeout(context.Background(), time.Second)
	defer cancel()
	ctx.KV().Inc(timeout, "/traffic/in/url" + ctx.Request.URL.String())
  ?>
  <div class="container">
    <div class="widget-wrapper">
      <div class="row">

        <div class="col">
          <div class="footer-widget">
            <div class="logo mb-30">
              <a href="index.html">
                <img src="assets/img/logo/logo.png" alt=""/>
              </a>
            </div>
            <p class="desc mb-30 text-white">
              Compile HTML with embedded Go scripts to a single binary.
            </p>
          </div>
        </div>

        <div class="col">
          <div class="footer-widget">
            <h3>The Project</h3>
            <ul class="links">
              <li><a href="http://gitlab.com/cznic/dyd">Repository</a></li>
              <li><a href="http://gitlab.com/cznic/dyd/-/issues">Issues tracker</a></li>
              <li><a href="http://gitlab.com/cznic/dyd/-/blob/master/LICENSE">License</a></li>
            </ul>
          </div>
        </div>

        <div class="col">
          <div class="footer-widget">
            <h3>Powered by itself</h3>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
              How to run a local copy of this web
            </button>
            <div class="modal" id="myModal">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Install and run this web on your machine</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <div class="modal-body">
                    In a temporary directory issue
                    <pre class="mt-3">$ go install modernc.org/dyd/getdyd.org@latest
$ getdyd.org</pre>
                    Then point your browser to <a href="http://localhost:6226">localhost:6226</a>.
                    <br><br>See also: <a href="http://pkg.go.dev/modernc.org/sqlite#hdr-Supported_platforms_and_architectures">Supported platforms and architectures</a> (CGo-free SQLite driver). Other targets are supported (TODO) via CGo.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
<!-- ======== footer end ======== -->
