<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KV example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style><? write("%s", ctx.W3CSS()) ?></style>
  </head>
  <body style="background-color: #5864ff;">
    <div class="w3-container w3-text-white">
      <p><?
	// A web server logging visits in a persistent key/value store and showing the
	// last visited time, if any.

	kv := ctx.KV()
	var cnt sql.NullInt64
	if err := kv.Get(nil, "/visits/count", &cnt); err != nil && err != sql.ErrNoRows {
	        write("get count: %v", err)
		return
	}

	if !cnt.Valid {
		cnt.Int64 = 0
	}
	cnt.Int64++
	write("visit count: %d", cnt.Int64)

	var t sql.NullTime
	if err := kv.GetTime(nil, "/visits/time", &t); err != nil  && err != sql.ErrNoRows {
	        write("get last visit time: %v", err)
		return
	}

	if t.Valid {
		write(", last visit at %s", t.Time.Format(time.RFC1123Z))
	}

	if err := kv.BatchSet(nil, []dyd.KVPair{{"/visits/count", cnt.Int64}, {"/visits/time", time.Now()}}); err != nil {
		write("batch set: %v", err)
	}
        ?>
      </p>
    </div>
  </body>
</html>
