/*

This is a modification of https://www.w3schools.com/css/css_intro.asp,
used only as demonstration how to achieve the same results in dyd. This
page HTML content and teh CSS styles are

Copyright 1999-2023 by Refsnes Data. All Rights Reserved.

For details see https://www.w3schools.com/about/about_copyright.asp

*/
/* Stylesheet 3: */
body {
    font: 100% Verdana;
    margin: 20px;
    line-height: 26px;
}

.container {
    xmin-width: 900px;
}

.wrapper {
    position: relative;
    overflow: auto;
}

#sidebar {
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    padding-left: 10px;
}

#bottom {
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}

h1, h2, h3 {
    color: #4CAF50;
}

#menulist {
    padding: 0;
    position: relative;
    overflow: auto;
}

.menuitem {
    width: 165px;
    float: left;
    background-color: #555555;
    color: #ffffff;
    list-style-type: none;
    margin: 4px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

.menuitem:nth-child(3) {
   background-color:#04AA6D;
}

.menuitem:hover {
    background-color: #000;
}

a {
    color: #000000;
}

a:hover {
    color: #84c754;
}
